<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DMS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
  <h1 class="mb-3">Domain manage service</h1>
  <h4 class="mb-3">도메인 관리</h4>
</div>

<div class="container">
  <button type="button" id="create-btn"
          th:onclick="|location.href='@{/web/create}'|"
          class="btn btn-secondary btn-sm mb-3">도메인 등록</button>
  <div class="row-6" th:each="item : ${domains}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" th:text="${item.name}">name</h5>
        <span class="card-text" th:text="${item.type}">type</span> <span class="card-text" th:text="${item.ticket}">ticket</span>
        <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">자세히 보러가기</a>
      </div>
    </div>
    <br>
  </div>
</div>

<script src="/js/article.js"></script>
</body>